@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #1e1e1e;
}

main {
  width: 800px;
}

main h1 {
  text-align: center;
  font-size: clamp(2rem, 4vw, 2.6rem);
  color: #deddd9;
  margin-bottom: 70px;
  font-weight: 400;
}

.slide-row {
  display: flex;
  width: 3200px;
  transition: 0.5s;
}

.slide-col {
  position: relative;
  width: 800px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
}

.hero {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.hero img {
  height: 100%;
  border-radius: 10px;
  width: 320px;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.content {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 520px;
  height: 270px;
  color: #1e1e1e;
  background: rgba(30, 30, 30, 0.6);
  backdrop-filter: blur(20px);
  color: #deddd9;
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  padding: 45px;
  z-index: 2;
  user-select: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
}



.content p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
  font-style: italic;
}

.content h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 30px;
    color: #deddd9;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.indicator {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.indicator .btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: #deddd9;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn.active {
  width: 30px;
  background: #deddd9;
  box-shadow: 0 0 6px #fff, 0 0 12px #fff;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.logo {
  position: fixed;
  right: -20px;
  bottom: -30px;
  z-index: 10;
}

.logo img {
  width: 120px;
}

.footer{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.footer p{
    color: #deddd9;
    font-style: italic
}
@media (max-width: 890px) {
  .logo {
  right: -10px;
  bottom: -20px;
}
  
 .logo img {
  width: 80px;
  }
}

@media (max-width: 850px) {
  main {
    width: 500px;
  }

  .slide-row {
    width: 2000px;
  }

  .slide-col {
    width: 500px;
    height: 250px;
  }

  .hero img {
    width: 200px;
  }

  .content {
    width: 320px;
    height: 200px;
    padding: 20px;
  }

  .content p {
    font-size: 0.9rem;
  }

  .content h2 {
    font-size: 1.2rem;
    margin-top: 20px;
  }
}

@media (max-width: 550px) {
  main {
    width: 300px;
  }

  .slide-row {
    width: 1200px;
  }

  .slide-col {
    width: 500px;
    height: 300px;
  }

  .hero {
    top: 60%;
    height: 100px;
    z-index: 5;
  }

  .hero img {
    width: 100px;
  }

  .content {
    width: 300px;
  }
}
